// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'dashboard';

body {
    font-family: 'Helvetica';
    font-size: 17px;
    background-color: #fff!important;
}

.nav-link,
.nav-link:hover, .nav-link:focus {
    color: $white;
    text-transform: uppercase;
    &:hover {
        color: $white;
    }
}

.btn_descargar_catalogo {
    background: #000;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #fff;
    font-size: 1rem;
    border: 2px solid #fff;
    padding: 0.5rem;
    width: 100%;
    max-width: 180px;
    min-width: 180px;
    text-align: center;
    transition: .3s ease all;
    margin: 0 auto;
}

.btn_roche_outline_dark {
    background: transparent;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #000;
    font-size: 1rem;
    border: 2px solid #000;
    padding: 0.5rem;
    width: 100%;
    max-width: 180px;
    min-width: 180px;
    text-align: center;
    transition: .3s ease all;
    margin: 0 auto;
}

ul.dropdown-menu.show {
    background: #000;
    border-radius: 0;
}

a.dropdown-item {
    color: #FFF;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #FFF;
    background-color: #000;
}

.dropdown-item:active {
    background-color: #000;
}

.bg-dark {
    background: #000!important;
}

/*============================================= 
TABLET HORIZONTAL (LG revisamos en 1024px) 
=============================================*/ 

@media (max-width:1199px) and (min-width:992px){ 

} 

/*============================================= 
TABLET VERTICAL (MD revisamos en 768px) 
=============================================*/ 

@media (max-width:991px) and (min-width:768px){ 

} 

/*============================================= 
MÓVIL HORIZONTAL (SM revisamos en 576px) 
=============================================*/ 

@media (max-width:767px) and (min-width:576px){ 

    a.navbar-brand {
        width: 60%!important;
    }

} 

/*============================================= 
MOVIL VERTICAL (revisamos en 320px) 
=============================================*/ 

@media (max-width:575px){ 

    a.navbar-brand {
        width: 60%!important;
    }
}
