// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'dashboard';

body {
    font-family: 'Helvetica';
    font-size: 18px;
    background-color: #fff!important;
}

.nav-link,
.nav-link:hover, .nav-link:focus {
    color: $white;
    text-transform: uppercase;
    &:hover {
        color: $white;
    }
}

.btn_descargar_catalogo {
    background: #000;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #fff;
    font-size: 1rem;
    border: 2px solid #fff;
    padding: 0.5rem;
    width: 100%;
    max-width: 180px;
    min-width: 180px;
    text-align: center;
    transition: .3s ease all;
    margin: 0 auto;
}

.btn_roche_outline_dark {
    background: transparent;
    text-transform: uppercase;
    text-decoration: none !important;
    color: #000;
    font-size: 1rem;
    border: 2px solid #000;
    padding: 0.5rem;
    width: 100%;
    max-width: 180px;
    min-width: 180px;
    text-align: center;
    transition: .3s ease all;
    margin: 0 auto;
}

nav.navbar.navbar-expand-md.bg-dark.navbar-dark.shadow-sm.position-fixed.w-100 {
    top: 0;
}

.stretcher-wrapper .stretcher .stretcher-item figure {
    margin: 0!important;
}

ul.dropdown-menu.show {
    background: #000;
    border-radius: 0;
}

a.dropdown-item {
    color: #FFF;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #FFF;
    background-color: #000;
}

.dropdown-item:active {
    background-color: #000;
}

.bg-dark {
    background: #000!important;
}

ul.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 18px;
}

ul.dropdown-menu {
    background: #000;
}

.dropdown-menu.dropdown-menu-end.show {
    background: #000;
    border: 0;
    border-radius: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.imagenc_concierge {
    width: 75%;
}

a.nav-link {
    font-size: 18px;
}

.btn_outline_dark {
    background: transparent;
    border: 1px solid #000;
    padding: 0;
    color: #000;
    text-decoration: none;
    width: 180px;
    text-align: center;
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.dropdown-cart.dropdown-menu.dropdown-menu-end.show {
    border-radius: 0;
    background: #fff;
    font-size: 18px;
    flex-direction: column;
    padding: 1rem;
    width: 400px;
    right: 0;
    border: 1px solid #000!important;
}

#cart_dropdown.dropdown-toggle::after {
    display: none;
}

.badge_cart {
    top: -17px;
    left: 13px;
    font-size: 12px!important;
    background: #000;
    border: 1.5px solid #fff;
    border-radius: 50%;
    padding: 2px 5px 0px 5px;
    text-align: center;
}

.alert.alert-success.alert-block.d-flex.justify-content-between {
    background-color: transparent!important;
    color: #08672f!important;
    font-weight: bold!important;
    border: 2px solid #08672f!important;
    border-radius: 0;
}

/* Estilos Sweet Alert */
.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
    border-radius: 0!important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    border-radius: 0!important;
    background-color: #fff!important;
    color: #000!important;
    border: 1.5px solid #000!important;
}

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-image: none!important;
}

.form-control.StripeElement.StripeElement--empty .__privateStripeElement {
    padding: 0.6rem !important;
}

.__privateStripeElement {
    padding: 0.6rem !important;
}

.form-control {
    border-radius: 0 !important;
    padding: 0.6rem !important;
}

.form-control:focus {
    box-shadow: none;
}

.form-select {
    border-radius: 0 !important;
    padding: 0.6rem !important;
}

.select2-container--bootstrap-5 .select2-selection {
    padding: 0.6rem !important;
    height: 44.22px !important;
    border-radius: 0 !important;
}

.modal-content {
    border-radius: 0!important;
}

input#fecha:read-only,
input#hora:read-only {
    background: #dfdfdf;
    cursor: not-allowed;
}

select.form-control {
    padding: 0.6rem !important;
    height: 44.22px !important;
    border-radius: 0 !important;
}

img.card-img-top.mb-3,
img.card-img-top {
    width: 305px!important;
    height: 305px!important;
    object-fit: cover!important;
}

/* Estilos Sweet Alert */

/*============================================= 
TABLET HORIZONTAL (LG revisamos en 1024px) 
=============================================*/ 

@media (max-width:1199px) and (min-width:992px){ 

} 

/*============================================= 
TABLET VERTICAL (MD revisamos en 768px) 
=============================================*/ 

@media (max-width:991px) and (min-width:768px){ 

} 

/*============================================= 
MÓVIL HORIZONTAL (SM revisamos en 576px) 
=============================================*/ 

@media (max-width:767px) and (min-width:576px){ 

    a.navbar-brand {
        width: 60%!important;
    }

    .col-12.col-md-6.text-center.px-5 {
        padding: 4rem;
    }

    .concierge-back {
        height: 300px;
    }

    .imagenc_concierge {
        width: 100%;
        padding: 1rem;
    }

    .grid_images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        width: 100%!important;
    }

    .logo_brand{
        width: 100%!important;
    }

    iframe {
        height: 500px;
    }

    .titulo_sucursal.text-white {
        width: 100%;
        text-align: center;
    }

} 

/*============================================= 
MOVIL VERTICAL (revisamos en 320px) 
=============================================*/ 

@media (max-width:575px){ 

    a.navbar-brand {
        width: 60%!important;
    }

    .col-12.col-md-6.text-center.px-5 {
        padding: 4rem;
    }

    .concierge-back {
        height: 300px;
    }

    .imagenc_concierge {
        width: 100%;
        padding: 1rem;
    }

    .grid_images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .box {
        width: 100%!important;
    }

    .logo_brand{
        width: 100%!important;
    }

    iframe {
        height: 500px;
    }

    .titulo_sucursal.text-white {
        width: 100%;
        text-align: center;
    }
}
